/.vs
/InsiderGame/InsiderGame.Android/bin
/InsiderGame/InsiderGame.Android/obj
/InsiderGame/InsiderGame.iOS/bin
/InsiderGame/InsiderGame.iOS/obj
/InsiderGame/InsiderGameTests/bin
/InsiderGame/InsiderGameTests/obj
/InsiderGame/InsiderGame/bin
/InsiderGame/InsiderGame/obj
/InsiderGame/InsiderGame.Android/*.user
